
.DS_Store
LoopFollow.xcodeproj/project.pbxproj
LoopFollow.xcodeproj/xcuserdata/paulmurphy.xcuserdatad/xcschemes/xcschememanagement.plist
LoopFollow.xcworkspace/xcuserdata/paulmurphy.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/xcuserdata/paulmurphy.xcuserdatad/xcschemes/xcschememanagement.plist
LoopFollow.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/project.pbxproj
*.pbxproj
